


/*VENDIAGRAM*/
#venn div{margin-top: 50px;
	height: 50vh;
	width: 35vw;
	border-radius: 200px;
-khtml-border-radius:200px;
-moz-border-radius:200px;
-webkit-border-radius:200px;
	border: 1px solid #000;
	display: table;
	float: left;
	opacity: .1;}

/*VENDIAGRAM*//*LEFT*/
#venn div:nth-child(1){font-size: 1.1vw;
			   color: #fff;
			   background-image: url(https://images.unsplash.com/photo-1543218024-57a70143c369?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);			   
				 margin-left: 5%;
				 padding: 6%;}

/*VENDIAGRAM*//*MIDDLE*/
#venn div:nth-child(2){font-size: 1.1vw;
			   color: #fff;
			   background-image: url(https://images.unsplash.com/photo-1487376480913-24046456a727?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);			   
			   border-color: #46b8da;
				 margin-left: 32%;
				 padding: 6%;}

/*VENDIAGRAM*//*RIGHT*/
#venn div:nth-child(3){font-size: 1.1vw;
			   color: #fff;
			   background-image: url(https://images.unsplash.com/photo-1521814728937-009d76026884?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80s);			   
			   border-color: #4cae4c;
				 margin-left: 60%;
				 padding: 6%;}

/*VENDIAGRAM*//*POSITIONING TYPE*/
.parent {position: relative;}
.child {position: absolute;}

/*VENDIAGRAM*//*GROW*/
.grow {transition: all .2s ease-in-out;}
.grow:hover {transform: scale(1.5);}

/*VENDIAGRAM*//*HOVER*/
#venn div:hover{width: 40vw;
		  opacity: 1;
		z-index: 10;}


/*SUBHEADERS*/
h1 {font-size: 2.5vw;}


/*CUSTOM VIEWPORT SETTINGS*/
@media (max-width: 850px) {
#venn div:nth-child(1){font-size: 1.3vw;
				   margin-left: 5%;
				   padding: 6%;} 

#venn div:nth-child(2){font-size: 1.3vw;
				   margin-left: 32%;
				   padding: 6%;}

#venn div:nth-child(3){font-size: 1.3vw;
				   margin-left: 60%;
				   padding: 6%;}}


@media (max-width: 700px) {
#venn div:nth-child(1){font-size: 1.5vw;
				   margin-left: 5%;
				   padding: 6%;} 

#venn div:nth-child(2){font-size: 1.5vw;
				   margin-left: 32%;
				   padding: 6%;}

#venn div:nth-child(3){font-size: 1.5vw;
				   margin-left: 60%;
				   padding: 6%;}}


@media (max-width: 600px) {
#venn div:nth-child(1){font-size: 1.7vw;
				   margin-left: 5%;
				   padding: 6%;}

#venn div:nth-child(2){font-size: 1.7vw;
				   margin-left: 32%;
				   padding: 6%;}

#venn div:nth-child(3){font-size: 1.7vw;
				   margin-left: 60%;
				   padding: 6%;}}


@media (max-width: 500px) {
#venn div:nth-child(1){font-size: 1.9vw;
				   margin-left: 5%;
				   padding: 6%;}

#venn div:nth-child(2){font-size: 1.9vw;
				   margin-left: 32%;
				   padding: 6%;}

#venn div:nth-child(3){font-size: 1.9vw;
				   margin-left: 60%;
				   padding: 6%;}}


@media (max-width: 400px) {
#venn div:nth-child(1){font-size: 2.2vw;
				   margin-left: 5%;
				   padding: 6%;}

#venn div:nth-child(2){font-size: 2.2vw;
				   margin-left: 32%;
				   padding: 6%;}

#venn div:nth-child(3){font-size: 2.2vw;
				   margin-left: 60%;
				   padding: 6%;}}


@media (max-width: 300px) {
#venn div:nth-child(1){font-size: 2.5vw;
				   margin-left: 5%;
				   padding: 6%;}

#venn div:nth-child(2){font-size: 2.5vw;
				   margin-left: 32%;
				   padding: 6%;}

#venn div:nth-child(3){font-size: 2.5vw;
				   margin-left: 60%;
				   padding: 6%;}}